body {
    font-family: Arial, sans-serif;
    text-align: center;
   }
   
   .placar {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
   }
   
   .time {
    margin-bottom: 10px;
   }
   
   .botoes button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
   }
   
   .botoes button:hover {
    background-color: #3e8e41;
   }
   
